{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %} Enter the sectret to see inf about the user {% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="" method="post" ><!-- <form action="" method="post" > -->
      <div class="container">
    <!-- label and input for password -->
        <label for="secret"><b>secret</b></label>
        <input
          type="secret"
          placeholder="Enter secret"
          name="secret"
          id="secret"
          required
        />
        <div >
  </div>
        <button type="submit" name="btn" value="pressed" >Login</button>
        <!-- <input type="submit" value="TEST"> -->
        </div>
</form>
{% endblock %}